---
import PageLayout from '@layouts/PageLayout.astro';
import Footer from '@components/Footer';
import Tags from '@components/Tags';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<PageLayout title={project.data.title}>
  <div class="mx-80 font-spaceGrotesk">
    <img
      class="aria-hidden py-10"
      role="presentation"
      src={project.data.banner.src}
    />
    <h1 class="pb-3 text-5xl font-bold">{project.data.title}</h1>
    <Tags tags={project.data.tags} />
    <article class="mt-5 break-words pt-5 font-syne text-lg">
      <Content />
    </article>
  </div>
  <Footer />
</PageLayout>
