---
import BaseHead from '@components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <BaseHead>
      <meta name="description" content={description} />
      <link rel="icon" type="image/ico" href="/favicon.ico" />
      <title>{title} | flyrio.dev</title>
    </BaseHead>
  </head>
  <body
    class="bg-background font-syne text-foreground scrollbar-thin scrollbar-track-accent-1 scrollbar-thumb-accent-2 scrollbar-corner-accent-2 hover:scrollbar-thumb-shadow">
    <slot />
  </body>
</html>
